/* Basic styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.testimonios-container {
    position: relative;
    width: 100%; /* Ocupar todo el ancho de la página */
    padding: 50px 0;
    overflow: hidden; /* Para ocultar los rectángulos que se salen del contenedor */
    text-align: center; /* Centrar el contenido */
    margin-top: 10%;
    
}

.testimonios-container h2 {
    position: relative;
    display: inline-block;
    font-size: 2em;
    margin-bottom: 80px;
}

.testimonios-container h2::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Ajustar la posición de la línea */
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #DAD3CD;
}

/* Línea en la parte superior */
.testimonios-container::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 15px;
    background-color: #DAD3CD;
}

/* Línea adicional en el lado izquierdo */
.testimonios-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: #DCB76C ;
}

/* Pseudoelemento ::before para el rectángulo izquierdo */
.testimonios-container::before {
    left: 0;
    z-index: -1; /* Para que quede detrás del contenido */
    transform: skewX(45deg); /* Inclina el rectángulo */
}

/* Posicionamiento del rectángulo derecho */
.testimonios-container::after {
    right: 0;
    z-index: -1; /* Para que quede detrás del contenido */
    transform: skewX(-45deg); /* Inclina el rectángulo */
}

/* Video grid styles */
.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7%; /* Aumentamos el espacio entre los videos a 7% */
}

.video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    width: 100%;
}

/* Ajustes para los videos */
.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video .video-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.video .video-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video .video-preview .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background: url('./assets/play-button.png') no-repeat center center;
    background-size: contain;
}

/* Añadir margen derecho a todos los elementos excepto los de la última columna */
.video:not(:nth-child(3n)) {
    margin-right: 1%; /* Ajustamos el margen derecho */
}

.video:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
