.titulo {
  text-align: center;
  font-size: 30px; /* Ajusta este valor al tamaño de letra deseado */
  color: #000;
  position: relative;
  margin-bottom: 50px;
}

.titulo::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  height: 4px;
  width: 50%;
  background-color: #DCB76C;
}

.info-mapa {
  display: flex;
  flex-direction: row;
  border: 2px solid #ccc;
  padding: 1rem;
}

.maps, .texto {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px; /* Ajusta este valor al tamaño máximo que desees */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  margin: auto;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Ajusta estos valores a la relación de aspecto deseada */
}

.texto{
  padding-left: 00rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px; /* Ajusta este valor al tamaño máximo que desees */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  margin: auto;
}

.info__mapa-Titulo{
  text-align: center;
  margin-top: 0.5em;
  font-family: pierSansLight;
}

.encontrar{
  color: #DCB76C;
}

.info__mapa-Parrafo{
  margin-top: 2em;
  text-align: center;
  font-family: pierSansLight;
}

.info_mapa_boton {
  position: relative;
  display: inline-block;
  background-color: #DCB76C;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 35%;
  margin-top: 40px; 
}

.info_mapa_boton:hover{
  background-color: #C8A65F;
  border-color: #C8A65F;
  text-decoration: none;
  color: wheat;
}

/* Aquí empiezan las consultas de medios */

@media (max-width: 768px) {
  .info-mapa {
    flex-direction: column;
    align-items: center;
    border: none; /* Elimina los bordes */
    box-shadow: none; /* Elimina los efectos de sombra */
  }

  .maps, .texto {
    width: 100%;
    height: auto; /* Asegura que el video y el mapa tengan la misma altura */
    margin-bottom: 5rem; /* Agrega un espacio entre el video y el mapa */
  }

  .texto {
    padding-left: 4rem; /* Mueve el video un poco hacia la derecha */
  }


}
